.myDashboard {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #ffffff;
    letter-spacing: -0.02em;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.time {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.blocks {
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.navbar {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}