.wrapper {
    background: #337394;
    border-radius: 20px;
    width: 387px;
    height: 120px;
    display: flex;
    align-items: center;
}

.image {
    left: 30%;
    right: 77.26%;
    top: 50%;
    bottom: 25%;
}

.song {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.artist {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #ffffff;
    text-transform: capitalize;
}

.center {
    text-align: center;
}